node_modules/
.env
.env.*
.DS_Store
*.log
backend.log
serve.log
ngrok.log
expo_tunnel.log
expo_tunnel_err.log
localtunnel.log
localtunnel_err.log
tunnelmole.log
tunnelmole_err.log
dist/
dev-tools/
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
